$text: #343541;
$pink: #fef6f6;
$tuna: #343541;
$cherry-red: #ec1115;
$white: #ffffff;
$light-grey: #e5e5e5;
$bittersweets: #f47073;
$grey: #f0f0f0;
$jumbo: #85868d;
$totem-pole: #a60c0e;
$blue: #2f80ed;

$mobile: 375px;

$tablet: 1024px;

$desktop: 1440px;
